#gb-box {
    position: absolute;
    width: 20.5%;
    height: 26.5%;
    top: 61.5%;
    left: 79%;
    z-index: 80;
}

#gb-logo {
    position: absolute;
    height: 45%;
    width: 22%;
    top: 49%;
    left: 78%;
    pointer-events: none;
    z-index: 140;
}

#sticky-note {
    position: absolute;
    height: 7%;
    top: 56%;
    left: 95%;
    z-index: 150;
}

.guestbook {
    position: absolute;
    top: 62.8%;
    left: 79.7%;
    height: 24.1%;
    width: 19.1%;
    border: none;
    z-index: 135;

    pointer-events: auto;
    /* For mobile */
    touch-action: pan-y;
}
