#clickable-foopy {
    position: absolute;
    height: 5%;
    top: 93%;
    left: 74%;
    z-index: 130;

    pointer-events: auto;
    cursor: pointer;
}

#clickable-foopy-arrow {
    position: absolute;
    height: 15%;
    top: 80%;
    left: 78%;
    z-index: 130;
}

#spook-foop {
    position: absolute;
    height: 27%;
    width: 19.5%;
    top: 25.4%;
    left: 79.1%;
}

.overlay a {
    pointer-events: auto;
}

#blinkies {
    position: absolute;
    display: block;
    top: 60.7%;
    right: 81.2%;

    height: 14.5%;
    width: 16.3%;

    overflow-y: auto;
    pointer-events: auto;
}

#blinkies img {
    max-height: 30%;
}

.credits {
    position: absolute;
    top: 77%;
    right: 85%;
    width: 12%;
    cursor: pointer;
    pointer-events: auto;
}

/* modal */
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

/* Left menu hovering image switch */
.onhover {
    position: absolute;
    visibility: hidden;
}

.hover-container:hover .offhover{
   visibility: hidden;
}
.hover-container:hover .onhover{
   visibility: visible;
}
