#clickable-foopy {
    position: absolute;
    height: 20%;
    top: 78%;
    left: 74%;
    z-index: 130;

    cursor: pointer;
}

#spook-foop {
    position: absolute;
    height: 26%;
    width: 19.5%;
    top: 29.3%;
    left: 79.1%;
}
