#clickable-foopy {
    position: absolute;
    height: 5%;
    top: 93%;
    left: 74%;
    z-index: 130;

    pointer-events: auto;
    cursor: pointer;
}

#clickable-foopy-arrow {
    position: absolute;
    height: 15%;
    top: 80%;
    left: 78%;
    z-index: 130;
}

#spook-foop {
    position: absolute;
    height: 26%;
    width: 19.5%;
    top: 29.3%;
    left: 79.1%;
}

.overlay a {
    pointer-events: auto;
}
