@font-face {
    font-family: bubbleClub;
    src: url(../font-family/bubble_club.TTF);
}

body {
    background-image: url("../assets/background.webp");
    background-repeat: repeat;
    margin: 0;
    padding: 0;

    --content-width: 1400px;
}

div {
    display: block;
}

a {
    /* Link colour not set to default blue */
    color: inherit;
    text-decoration: inherit;
}

p {
    font-family: bubbleClub;
}

#main-image {
    margin: auto;
    width: 100%;
    max-width: var(--content-width);
    min-width: 300px;
    overflow:hidden;

    pointer-events: none;
}

.content-box {
    min-height: calc(100dvh - var(--total-banner-height));
    margin: auto;
    min-width: 690px;
    max-width: var(--content-width);
}

.center-imgs {
    display: block;
    text-align: center;
    margin: auto;
}

/* Everything to do with text and images on top of main image */
.image-overlay-container {
    position: relative;
    display: inline-flex;
    margin: auto;
}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay-text {
    position: absolute;
    overflow: hidden;
}

.overlay-text:hover {
    color: #DB5F48; /* pale light red/orange */
}

.img-text {
    font-family: bubbleClub;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
}

.scaling-text-medium {
    font-size: 15px;
}

.scaling-text-large {
    font-size: 20px;
}

/* Responsive CSS */
@media screen and (max-width: 500px) {
    .scaling-text-medium {
        font-size: 3vw;
    }
}

@media screen and (min-width: 690px) {
    .scaling-text-medium {
        font-size: 2.2vw;
    }
    .scaling-text-large {
        font-size: 2.8vw;
    }
}

@media screen and (min-width: 1200px) {
    .scaling-text-medium {
        font-size: 162%;
    }
}

@media screen and (min-width: 1390px) {
    .scaling-text-large {
        font-size: 240%;
    }
}

/* Credit box */
.credits-box {
    background-image: url("../assets/creditspopup.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 90vw;
    max-width: 500px;
    aspect-ratio: 1;
}

/* Text in credit box */
.credits-words {
    position: absolute;
    top: 18%;
    text-align: left;
}

.credits-words a {
    color: #5C8DE6;
}

.credits-words a:hover {
    color: #DB5F48;
}
