@font-face {
    font-family: bubbleClub;
    src: url(../font-family/bubble_club.TTF);
}

body {
  background-image: url("../assets/background.webp");
  background-repeat: repeat;
  margin: 0;
  padding: 0;

  --content-width: 1400px;
}

div {
    display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.img-text {
    font-family: bubbleClub;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.content-box {
    min-height: calc(100dvh - var(--total-banner-height));
    margin: auto;
    min-width: 690px;
    max-width: var(--content-width);
}

.center-imgs {
    display: block;
    text-align: center;
    margin: auto;
}

#main-image {
    margin: auto;
    width: 100%;
    max-width: var(--content-width);
    min-width: 300px;
    overflow:hidden;

    pointer-events: none;
}

.image-overlay-container {
    position: relative;
    display: inline-flex;
    margin: auto;
}

.overlay {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.overlay-text {
    position: absolute;
    overflow: hidden;
}

.overlay-text:hover {
    color: #CEE5ED; /* pastel light blue */
}

.is-hidden {
    visibility: hidden;
    pointer-events: none;
}

.scaling-text-medium {
    font-size: 15px;
}

.scaling-text-large {
    font-size: 20px;
}

@media screen and (min-width: 690px) {
    .scaling-text-medium {
        font-size: 2.2vw;
    }
    .scaling-text-large {
        font-size: 2.8vw;
    }
}

@media screen and (min-width: 1200px) {
    .scaling-text-medium {
        font-size: 162%;
    }
}

@media screen and (min-width: 1390px) {
    .scaling-text-large {
        font-size: 240%;
    }
}
